*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body >.container{
    display: flex;
    align-items: center;
    justify-content: center
}

h1{
    text-align: center;
    margin: 3em;
}

.counterDiv > button{
    padding: 0.5em 1em 0.5em 1em;
    font-size: 2em;
}

.num{
    margin-bottom: 1em;
    text-align: center;
    font-size: 4em;
}